.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
previous
.DS_Store
*.DS_Store
unused.Rmd
confidential
0.1_mmp_mun_location.Rmd
0.5_weather_mun_prcp_daymet.Rmd
0.6_weather_mun_tmax_daymet.Rmd
0.7_weather_mun_tmin_daymet.Rmd
0.8_weather_mun_2100_terra.Rmd
mex_admbnda_govmex_20210618_SHP
Presentations
Previous
mun_mmp_loc.png
presentation
*_prest.png
